/**
 * Syntax highlighting styles
 */
.highlight {
  background: #2a2a2a;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: #1a1a1a;
  }

  .c     { color: #808080; font-style: italic } // Comment
  .err   { color: #ff6b6b; background-color: #3d1f1f } // Error
  .k     { color: #89d5ff; font-weight: bold } // Keyword
  .o     { color: #89d5ff; font-weight: bold } // Operator
  .cm    { color: #808080; font-style: italic } // Comment.Multiline
  .cp    { color: #808080; font-weight: bold } // Comment.Preproc
  .c1    { color: #808080; font-style: italic } // Comment.Single
  .cs    { color: #808080; font-weight: bold; font-style: italic } // Comment.Special
  .gd    { color: #ff6b6b; background-color: #3d1f1f } // Generic.Deleted
  .gd .x { color: #ff6b6b; background-color: #2a0f0f } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: #ff6b6b } // Generic.Error
  .gh    { color: #808080 } // Generic.Heading
  .gi    { color: #51cf66; background-color: #1f3a1f } // Generic.Inserted
  .gi .x { color: #51cf66; background-color: #0f2a0f } // Generic.Inserted.Specific
  .go    { color: #b0b0b0 } // Generic.Output
  .gp    { color: #a0a0a0 } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #606060 } // Generic.Subheading
  .gt    { color: #ff6b6b } // Generic.Traceback
  .kc    { color: #89d5ff; font-weight: bold } // Keyword.Constant
  .kd    { color: #89d5ff; font-weight: bold } // Keyword.Declaration
  .kp    { color: #89d5ff; font-weight: bold } // Keyword.Pseudo
  .kr    { color: #89d5ff; font-weight: bold } // Keyword.Reserved
  .kt    { color: #89d5ff; font-weight: bold } // Keyword.Type
  .m     { color: #ffa94d } // Literal.Number
  .s     { color: #51cf66 } // Literal.String
  .na    { color: #a0d5ff } // Name.Attribute
  .nb    { color: #89d5ff } // Name.Builtin
  .nc    { color: #89d5ff; font-weight: bold } // Name.Class
  .no    { color: #a0d5ff } // Name.Constant
  .ni    { color: #d5a0ff } // Name.Entity
  .ne    { color: #ff6b6b; font-weight: bold } // Name.Exception
  .nf    { color: #a0d5ff; font-weight: bold } // Name.Function
  .nn    { color: #a0a0a0 } // Name.Namespace
  .nt    { color: #89d5ff } // Name.Tag
  .nv    { color: #a0d5ff } // Name.Variable
  .ow    { color: #89d5ff; font-weight: bold } // Operator.Word
  .w     { color: #666 } // Text.Whitespace
  .mf    { color: #099 } // Literal.Number.Float
  .mh    { color: #099 } // Literal.Number.Hex
  .mi    { color: #099 } // Literal.Number.Integer
  .mo    { color: #099 } // Literal.Number.Oct
  .sb    { color: #d14 } // Literal.String.Backtick
  .sc    { color: #d14 } // Literal.String.Char
  .sd    { color: #d14 } // Literal.String.Doc
  .s2    { color: #d14 } // Literal.String.Double
  .se    { color: #d14 } // Literal.String.Escape
  .sh    { color: #d14 } // Literal.String.Heredoc
  .si    { color: #d14 } // Literal.String.Interpol
  .sx    { color: #d14 } // Literal.String.Other
  .sr    { color: #009926 } // Literal.String.Regex
  .s1    { color: #d14 } // Literal.String.Single
  .ss    { color: #990073 } // Literal.String.Symbol
  .bp    { color: #999 } // Name.Builtin.Pseudo
  .vc    { color: #008080 } // Name.Variable.Class
  .vg    { color: #008080 } // Name.Variable.Global
  .vi    { color: #008080 } // Name.Variable.Instance
  .il    { color: #099 } // Literal.Number.Integer.Long
}
